<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="name" source="spring.application.name" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %highlight(%-5level) %magenta(${PID}) --- [${name}] [%thread] %cyan(%logger{36}) : %msg TraceId:%X{traceId} SpanId:%X{spanId}%n</pattern>
            </pattern>
        </encoder>
    </appender>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>http://localhost:3100/loki/api/v1/push</url>
        </http>
        <format>
            <label>
                <pattern>app=${name},host=${HOSTNAME},level=%level</pattern>
                <readMarkers>true</readMarkers>
            </label>
            <message>
                <pattern>%d{XXX} %highlight(%-5level) %magenta(${PID}) --- [${name}] [%thread] %cyan(%logger{36}) : %msg TraceId:%X{traceId} SpanId:%X{spanId}%n</pattern>
            </message>
            <sortByTime>true</sortByTime>
        </format>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="LOKI" />
    </root>

</configuration>